<div class="col-md-3 col-sm-6 col-xs-12">
  <div class="productBox">
    <%= link_to potepan_product_path(relation_product.id) do %>
      <div class="productImage clearfix">
        <%= image_tag(relation_product.display_image.attachment(:large), alt: "#{relation_product.name}image") if relation_product.display_image.present? %>
      </div>
      <div class="productCaption clearfix">
        <h5><%= relation_product.name %></h5>
        <h3><%= relation_product.display_price %></h3>
      </div>
    <% end %>
  </div>
</div>
